.layer {
  overflow: scroll;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
  margin: 0.5em;
}

.tracked-video-container {
  position:relative;
  overflow: hidden;
  border-radius: 1em;;
}

video, canvas {
  width: 100%;
  width: 100%;
}

.overlay-cvs {
  position: absolute;
  top: 0;
  left: 0;
}

select {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  box-sizing: border-box;
  margin: 0.5em;
}

.info-overlay {
  position: absolute;
  top: 90%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

h3 {
  font-size: 1.5em;
}

.info-overlay > * {
  margin: 0;
}

#comparison-result{
  font-weight: bold;
  text-align: center;
}

.label {
  font-size: 0.8em;
  text-transform: uppercase;
}

/* italicsize */
#workout-name {
  font-style: italic;
}

/* If screen size < 600 px or aspect ratio < 1.5 */
@media screen and (max-aspect-ratio: 1/1) {
  .side-by-side {
    flex-direction: column;
  }
  .info-overlay {
    width: 100%;
  }

}